Source: golang-github-valyala-bytebufferpool
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Nobuhiro Iwamatsu <iwamatsu@debian.org>,
           Anthony Fok <foka@debian.org>
Section: devel
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-valyala-bytebufferpool
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-valyala-bytebufferpool.git
Homepage: https://github.com/valyala/bytebufferpool
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/valyala/bytebufferpool

Package: golang-github-valyala-bytebufferpool-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: foreign
Description: Anti-memory-waste byte buffer pool for go
 An implementation of a pool of byte buffers with anti-memory-waste
 protection.
 .
 The pool may waste limited amount of memory due to fragmentation.
 This amount equals to the maximum total size of the byte buffers in
 concurrent use.  Benchmark results Currently bytebufferpool is fastest
 and most effective buffer pool written in Go.
